@model EEstoque.Model.Estoque

@{
    ViewData["Title"] = "Excluir";
}

<h1>@ViewData["Title"]</h1>

<h3>Você deseja excluir este produto</h3>
<div>
    <h4>Estoque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proporcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proporcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar aos produtos</a>
    </form>
</div>
